.movies-list{
    width:100%;
    height:270px;
    position:relative;
    margin:10px 0 20px;
    border-radius: 5px;
}

.card-container{
    position: absolute;
    width:92%;
    padding-left: 10px;
    height:280px;
    display:flex;
    margin: 0 auto;
    align-items:center;
    overflow-x:visible;
    overflow-y:visible;
    scroll-behavior:smooth;
    border-radius: 5px;
}
.card-container::-webkit-scrollbar{
    display: none;
  }
.card{
    cursor: pointer;
  min-width:195px;
  width:195px;
   height:272px;
  overflow:hidden;
  margin-right:10px;
  position: relative;
 transition:0.5s ease-in;
 border-radius: 5px;
}

  .card-image{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  .card:hover{
    transform: scale(1.2);
  }
  .card:hover .card-body{
    opacity: 1;
  }

  .card-body{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background:linear-gradient(to bottom,rgba(4,8,15,0),#192133 90%);
    padding: 3px;
    transition:0.5s;
  }
  .name{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 50%;
  }
  .des{
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 10px;
  }
  .Watchlist{
    position: absolute;
    width: 90%;
    text-transform: capitalize;
    background: none;
    border: none;
    text-align: left;
    color: rgba(255,255,255,0.5);
    margin: 2px 0;
    cursor: pointer;
    padding: 3px;
    font-size: 10px;
    border-radius: 5px;
  }
  /* .Watchlist::before{
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    height: 25px;
    width: 25px;
    background-image: url(add.png);
    background-size: cover;
    transform: scale(0.1);
  } */
  .Watchlist:hover{
    color: #fff;
    background: rgba(255, 255, 255, 0.2)
  }
  .Watch{
    background: none;
    border: none;
    color: rgba(255,255,255,0.5);
    padding: 3px;
    width: 95%;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
  }
  .Watch:hover{
    color: #fff;
    background: rgba(255, 255, 255, 0.2)
  }
  